---
layout: default
type: home
title: About me
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->


<p>I'm a computer science student working on expanding my skillset. In my free time I enjoy playing around with machine learning models. Some of my projects are featured below.</p>


<p></p>



{% include projects.html %}
{% include projects-ds.html %}


<p>
</p>




{% include expertise.html %}

<p></p>

<p></p>
